{% extends 'flatpages/default.html' %}


{% block content %}
{% for i in advertisements %}

<div class="container">
     <h6 class="author">{{ i.author }}</h6>
  <a href="{% url 'advertisement_detail' i.pk %}">
    <h1>{{ i.heading }}</h1>
  </a>
  <p>{{ i.text }}</p>

    {% if i.image %}
  <div class="image-container">
  <img src="{{ i.image.url }}">
  </div>
    {% endif %}
 <br> <h6 class="data">{{ i.dateCreation }}</h6> </br>
    <hr>


</div>




<style>
  .author {
    text-align: left;
  }

  .data {
    text-align: left;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 1000px;
    max-height: 1000px;
    min-width: 200px;
    min-height: 200px;
  }
</style>


{% endfor %}
{# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}

