{% extends 'flatpages/default.html' %}


{% block content %}

<form action="" method="get">
    {% csrf_token %}
    {{ filterset.form.as_p }}
    <input type="submit" value="Поиск"/>
</form>

{% for advertisement in profile %}
<h3>ОБЪЯВЛЕНИЕ</h3>
<h2>{{ advertisement.heading }}</h2>
<p>{{ advertisement.text }}</p>
<hr>
<ul>
    <hr>
    <h3>ОТКЛИКИ:</h3>

    {% if advertisement.responses.all %}
    {% for response in advertisement.responses.all %}
    <li><h4>{{ response.user }}</h4>
        {{ response.text }}

        <br>
        <br>


    </li>

    <br>

    {% if response.is_active %}
    <p class="text-center"><a href="{% url 'response_deactive' pk=advertisement.id pk_res=response.id %}" class="btn btn-secondary btn-sm"> Отклонить </a></p>

    Активирован
    {% else %}

    <p class="text-center"><a href="{% url 'response_active' pk=advertisement.id pk_res=response.id %}" class="btn btn-secondary btn-sm"> Принять </a></p>

    Не активирован
    {% endif %}
    <a href="{% url 'response_delete' pk=advertisement.id pk_res=response.id %}"> Удалить </a>

    {% endfor %}

    {% else %}
    <h4>Откликов пока нету</h4>
    {% endif %}

    <hr>

</ul>
{% endfor %}
{% endblock content %}